* {
  box-sizing: border-box;
}

p, ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  padding: 25px;
}

.form_input_file {
  position: relative;
  width: 100%;
  height: 25%;
  border: 1px solid #000000;
  border-radius: 10px;
  
}

.damper_input_file {
  position: absolute;
  background-color: #fff;
  border-radius: 11px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  pointer-events: none;
}

.lable_input_file {
  font-size: 36px;
}

.input_file {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}

.list_previews {
  width: 100%;
  height: 75%;
  overflow: auto;

}

.wrapper_preview {
  display: inline-block;
  position: relative;
  /* width: 100px; */
  height: 160px;
  margin-left: 50px;
  margin-top: 50px;
  border: 1px solid #000000;
}

.btn_preview {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 1px solid #000000;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 0;
  top: -20px;
  right: -20px;
  background-image: url("./svg/form-x.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
  cursor: pointer;
}

.preview {
  height: 100%;
}